<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccccit.spring.boot.mapper.CoDataMapper" >
    
    <select id="getCoOrgs" resultType="map">
    	SELECT
			o.pk_org,
			o.org_code,
			o.org_name,
			o.pk_admin 
		FROM
			bd_org o 
		WHERE
			o.is_carrier = 'Y' 
		ORDER BY
			o.org_code
    </select>
    
    <select id="getOldRoleInfo" resultType="map">
    	SELECT 
		    T.role_code,
			T.pk_org,
			T.pk_role 
		FROM
			auth_role T 
		WHERE
			T.pk_system = 'SCM_CO'
    </select>
    
    
    <delete id="deleteOldUserRoleData">
    	DELETE 
		FROM
			auth_user_role ur 
		WHERE
			ur.pk_role IN ( SELECT r.pk_role FROM auth_role r WHERE r.pk_system = 'SCM_CO' )
    </delete>
</mapper>