<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccccit.spring.boot.mapper.DataMapper" >

  <select id="doSelectTest" resultType="java.util.HashMap" parameterType="java.lang.String" >
    select * from tms_waybill_status where pk_waybill = #{pk_waybill,jdbcType=VARCHAR}
  </select>

    <update id="executeSql" >
        ${sql}
    </update>

  <select id="doSelectCountCommon" resultType="int">
    ${sql}
  </select>

    <select id="doSelectAllCommon" resultType="java.util.HashMap">
     ${sql}
    </select>

    <select id="selectWaybillById" resultType="com.ccccit.spring.boot.entity.WaybillEntity" parameterType="java.lang.String" >
        select * from tms_waybill where pk_waybill = #{pk_waybill,jdbcType=VARCHAR}
    </select>

    <select id="doSelectFirstAll" resultType="java.util.HashMap">
        ${sql}
    </select>

    <insert id="saveTmsWaybill">
        INSERT INTO tms_waybill
        (
            "pk_waybill",
            "bill_status",
            "bill_date",
            "bill_type",
            "bill_code",
            "pk_org",
            "pk_project",
            "pk_trans_line",
            "start_time",
            "arrive_plan_time",
            "load_plan_time",
            "arrive_time",
            "pk_consignor",
            "consignor_name",
            "consignor_price",
            "pk_load_partner",
            "load_partner_name",
            "pk_load_province",
            "load_province",
            "pk_load_city",
            "load_city",
            "pk_load_district",
            "load_district",
            "load_addr",
            "load_longitude",
            "load_latitude",
            "pk_consignee",
            "consignee_name",
            "pk_unload_province",
            "unload_province",
            "pk_unload_city",
            "unload_city",
            "pk_unload_district",
            "unload_district",
            "unload_addr",
            "unload_longitude",
            "unload_latitude",
            "pk_carrier",
            "carrier_name",
            "pk_vehicle",
            "vcl_no",
            "pk_driver",
            "driver_id",
            "driver_name",
            "pk_goods",
            "goods_code",
            "goods_name",
            "pk_goods_class",
            "goods_spec",
            "load_packages",
            "load_volume",
            "load_weight",
            "unload_packages",
            "unload_volume",
            "unload_weight",
            "goods_price",
            "source_bill_type",
            "source_bill_id",
            "source_bill_code",
            "source_bill_row_id",
            "creator",
            "created_time",
            "load_name",
            "unload_name",
            "modified_time"
        )
        VALUES
        (
            #{pk_waybill},
            #{bill_status},
            #{bill_date},
            #{bill_type},
            #{bill_code},
            #{pk_org},
            #{pk_project},
            #{pk_trans_line},
            #{start_time},
            #{arrive_plan_time},
            #{load_plan_time},
            #{arrive_time},
            #{pk_consignor},
            #{consignor_name},
            #{consignor_price},
            #{pk_load_partner},
            #{load_partner_name},
            #{pk_load_province},
            #{load_province},
            #{pk_load_city},
            #{load_city},
            #{pk_load_district},
            #{load_district},
            #{load_addr},
            #{load_longitude},
            #{load_latitude},
            #{pk_consignee},
            #{consignee_name},
            #{pk_unload_province},
            #{unload_province},
            #{pk_unload_city},
            #{unload_city},
            #{pk_unload_district},
            #{unload_district},
            #{unload_addr},
            #{unload_longitude},
            #{unload_latitude},
            #{pk_carrier},
            #{carrier_name},
            #{pk_vehicle},
            #{vcl_no},
            #{pk_driver},
            #{driver_id},
            #{driver_name},
            #{pk_goods},
            #{goods_code},
            #{goods_name},
            #{pk_goods_class},
            #{goods_spec},
            #{load_packages},
            #{load_volume},
            #{load_weight},
            #{unload_packages},
            #{unload_volume},
            #{unload_weight},
            #{goods_price},
            #{source_bill_type},
            #{source_bill_id},
            #{source_bill_code},
            #{source_bill_row_id},
            #{creator},
            #{created_time},
            #{load_name},
            #{unload_name},
            #{modified_time}
        )
      </insert>

  <insert id="saveTmsWaybillOrderRelation">
    INSERT INTO tms_waybill_order_relation
    (
        "pk_waybill_order",
        "pk_order",
         "pk_waybill",
         "pk_org",
         "creator",
         "created_time",
         "dr",
         "ts",
         "pk_first_order_bill",
         "modified_time"
    )
    VALUES
	(
        #{pk_waybill_order},
        #{pk_order},
        #{pk_waybill},
        #{pk_org},
        #{creator},
        #{created_time},
        0,
        #{ts},
        #{pk_first_order_bill},
        #{modified_time}
	)
  </insert>

  <insert id="saveTmsWaybillStatus">
    INSERT INTO
        tms_waybill_status
    (
        "pk_waybill_status",
        "pk_waybill",
        "bill_status",
        "status_time",
        "pk_user",
        "creator",
        "created_time",
        "dr",
        "ts",
        "modified_time"
    )
    VALUES
	(
	    #{pk_waybill_status},
	    #{pk_waybill},
	    #{bill_status},
	    #{status_time},
        #{pk_user},
        #{creator},
        #{created_time},
	     0,
	     #{ts},
	     #{modified_time}
	)
  </insert>

  <insert id="saveTmsSettle">
    INSERT INTO tms_settle
    (
        "pk_settle",
        "settle_status",
        "settle_type",
        "pk_order",
        "pk_waybill",
        "pk_recieve_org",
        "pk_payment_org",
        "freight_mny",
        "creator",
        "created_time",
        "dr",
        "ts",
        "settler",
        "settle_time",
        "goods_mny",
        "consignor_price",
        "settle_weight",
        "is_confirmed",
        "modified_time"
    )
    VALUES
	(
		#{ pk_settle },
		#{ settle_status },
		#{ settle_type },
		#{ pk_order },
		#{ pk_waybill },
		#{ pk_recieve_org },
		#{ pk_payment_org },
		#{ freight_mny },
		#{ creator },
		#{ created_time },
		0,
		#{ ts },
		#{ settler },
		#{ settle_time },
		#{ goods_mny },
		#{ consignor_price },
		#{ settle_weight },
	    #{ is_confirmed },
	    #{ modified_time }
	)
  </insert>
</mapper>